$gray : #828282;

.book {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  padding: 18px;
}

.info {
  flex-direction: column;
}

.image {
  padding: 12px 52px 0 0;
}

.row {
  padding: 18px 0;
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 32px;
  font-weight: bold;
  flex-direction: row;
}

.gender {
  color: $gray;
  font-size: 24px;
  font-weight: bold;
  padding: 0 8px;
}

.author,
.editorial,
.year,
.description {
  font-size: 20px;
  line-height: 24px;
}

.description {
  color: $gray;
  padding: 0 8px;
}

.book-cover {
  height: 368px;
  width: 261px;
  flex-direction: row;
}