.book-container {
  background-color: $white;
  -webkit-box-shadow: 4px 4px 10px 0 $black-05;
  box-shadow: 4px 4px 10px 0 $black-05;
  font-family: 'Roboto', sans-serif;
  max-width: 900px;
  padding: 24px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.book-image {
  position: relative;
  margin-right: 52px;
}

.book-info {
  width: 100%;
}

.row {
  display: flex;
}

.book-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 8px 12px 0;
  line-height: 38px;
}

.book-gender {
  color: $gray;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
}

.book-property {
  margin-bottom: 36px;
}

.book-description {
  margin-right: 8px;
}

.book-cover {
  height: 368px;
  max-width: 400px;
  width: 100%;
}

.book-separator {
  border-bottom: 4px solid $earls-green;
}

.book-badge {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  bottom: 276px;
  transform: rotate(15deg);
  left: 210px;
  position: absolute;
  right: 0;
  height: 110px;
  width: 72px;
}
