$break-medium: 1024px;

.book-container {
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  max-width: 900px;
  padding: 24px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.book-main {
  align-items: center;
  justify-content: flex-start;
}

.book-image {
  margin-right: 52px;
}

.book-info-detail {
  width: 100%;
}

.row {
  display: flex;
}

.book-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 8px 12px 0;
  line-height: 38px;
}

.book-gender {
  color: $gray;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
}

.book-property {
  margin-bottom: 36px;
}

.book-description {
  margin-right: 8px;
}

.book-cover {
  position: relative;
  height: 368px;
  max-width: 400px;
  width: 100%;
}

.book-separator {
  border-bottom: 4px solid $earls-green;
}

.book-image-container {
  &::after {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  background: url('../assets/badge.png') no-repeat;
  background-size: 100%;
  bottom: calc(100% - 165px);
  content: '';
  transform: rotate(15deg);
  height: 110px;
  right: calc(100% - 695px);
  position: absolute;
  width: 72px;
  z-index: 1;
  }
}

.link-back {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 1200px;
  right: calc(100% - 300px);
  width: 100%;
}

.link-back {
  &::before {
    content: url('../assets/back-arrow-20.png');
    margin-right: 12px;
  }
}


@media screen and (max-width: $break-medium) {
  .book-main {
    flex-direction: column-reverse;
  }

  .book-container {
    flex-direction: column;
    padding: 38px 18px 43px 18px;
    margin-bottom: 20px;
    max-width: 336px;
  }

  .book-cover {
    height: 298px;
    max-width: 212px;
  }

  .book-image {
    align-self: center;
    margin: 0 0 21px 0;
  }

  .book-title {
    font-size: 24px;
    line-height: 38px;
  }

  .book-gender {
    font-size: 16px;
  }

  .book-description {
    font-size: 14px;
    line-height: 24px;
  }

  .book-property {
    margin-bottom: 18px;
    width: 100%;
  }

  .link-back {
    width: auto;
  }

  .text-2 {
    font-size: $small-text;
    line-height: 24px;
  }

  .book-image-container {
    &::after {
    bottom: calc(100% - 170px);
    right: calc(100% - 620px);
    width: 50px;
    }
  }
}
