.login-main {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container {
  background: $wild-sand;
  border-top: 8px solid $cerulean;
  max-width: 300px;
  padding: 24px;
  width: 100%;
}

.login-image-container {
  margin-bottom: 16px;
  justify-content: center;
}

.login-image-logo {
  height: 70px;
  width: 212px;
}

.login-label {
  margin-bottom: 8px;
}

.login-input {
  height: 32px;
  max-width: 252px;
  width: 100%;
}

.login-email-container {
  margin-bottom: 16px;
}

.login-password-container {
  margin-bottom: 24px;
}

.btn-login-container {
  margin-bottom: 14px;
}

.btn-login-container {
  &::after {
    border-bottom: 2px solid $gray;
    content: '';
    display: inline-block;
    position: relative;
    top: 3px;
    width: 100%;
  }
}

.btn-login {
  background: $earls-green;
  color: $white;
  height: 32px;
  max-width: 252px;
  width: 100%;
}

.btn-sign-up {
  background: $wild-sand;
  border: 1px solid $earls-green;
  color: $earls-green;
  height: 32px;
  max-width: 252px;
  width: 100%;
}
