.text-1 {
  font-size: $big-text;
  line-height: 24px;
}

.text-2 {
  color: $gray;
  font-size: $big-text;
  line-height: 24px;
}

.text-3 {
  font-size: $small-text;
  line-height: 18px;
}

.text-4 {
  color: $gray;
  font-size: $medium-text;
  line-height: 18px;
}

.text-5 {
  font-size: $medium-text;
  line-height: 24px;
}
