<div class="signup-container column">
    <img src="../../../assets/logo-wolox.png" alt="Logo Wolox" class="signup-image-logo">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)" class="signup-form">
      <label for="name" class="signup-label text-5">Nombre</label>
      <input type="email" id="name" formControlName="first_name" class="signup-input border-radius-5">
      <div class="alert" *ngIf="!signUpForm.get('first_name').valid && signUpForm.get('first_name').touched">
        El campo nombre es requerido.
      </div>
      <label for="lastname" class="signup-label text-5">Apellido</label>
      <input type="email" id="lastname" formControlName="last_name" class="signup-input border-radius-5">
      <div class="alert" *ngIf="!signUpForm.get('last_name').valid && signUpForm.get('last_name').touched">
        El campo apellido es requerido.
      </div>
      <label for="email" class="signup-label text-5">Email</label>
      <input type="email" id="email" formControlName="email" class="signup-input border-radius-5">
      <div class="alert" *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">
        El campo debe tener un email correcto.
      </div>
      <label for="password" class="signup-label text-5">Password</label>
      <input type="password" id="password" formControlName="password" class="signup-input signup-input-password border-radius-5">
      <div class="alert" *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">
        La contraseña debe contener al menos un número y una mayuscula.
      </div>
      <label for="password-confirmation" class="signup-label text-5">Confirmación de Password</label>
      <input type="password" id="password-confirmation" formControlName="password_confirmation" class="signup-input signup-input-password border-radius-5">
      <div
      class="alert"
      *ngIf="signUpForm.errors !== null && signUpForm.errors.invalidPasswordConfirmation && signUpForm.get('password_confirmation').touched">
        Las contraseñas deben coincidir.
      </div>
      <button type="submit" [disabled]="!signUpForm.valid" class="btn-signup border-radius-5">Sign Up</button>
      <button type="button" class="btn-login border-radius-5">Login</button>
    </form>
  </div>
